<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/public/fonts/index.css">
    <link rel="icon" href="/public/images/Lotouslogo.png">
    <title>Document</title>


    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js" defer></script>
    <style>
        .sidebar {
            transition: transform 0.3s ease-in-out;
        }
    </style>
</head>

<body class="max-w-screen-xl mx-auto bg-base" x-data="{ open: false }">
    <header class="relative">
        <div class="flex items-center justify-between px-8 py-4 border-gray bg-base w-full top-0 mb-4 flex-wrap">
            <!-- دکمه باز کردن نوبار -->
            <button @click="open = !open" class="to-white-200 p-2 rounded-md block md:hidden">
                <img src="/src/image/bars.png" class="w-8" alt="menu">
            </button>

            <!-- لوگو و جستجو -->
            <div class="flex items-center lg:w-4/6">
                <img src="/public/images/Lotouslogo.png" alt="Lotous Logo" class="w-[115px]" />
                <div class="relative h-[50px] bg-white rounded-lg mr-5 pr-[14px] hidden lg:block w-full ">
                    <input type="text"
                        class="pt-3 rounded-lg focus:outline-none placeholder-gray-300 text-base hidden lg:block lg:w-full"
                        placeholder="جستجو کنید..." />
                    <div class="absolute inset-y-0 flex items-center">
                        <i class="fas fa-search text-gray-400"></i>
                    </div>
                </div>
            </div>
            <div class="hidden md:block lg:hidden">
                <ul class="text-sm flex items-center gap-6 w-full">
                    <li
                        class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300 flex items-center gap-2">
                        معاملات
                        <img src="/src/image/arrow.png" class="w-4" calt="">

                    </li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">آموزش</li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">فرصت‌های
                        سرمایه‌گذاری</li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">قوانین</li>
                </ul>
            </div>
            <!-- ورود و تغییر تم -->
            <div class="flex gap-2">
                <div
                    class="border rounded-3xl text-white-800 hidden md:flex items-center gap-2 justify-center px-4 py-3 cursor-pointer">
                    <img src="/src/image/loginheader.svg" class="w-4" alt="">
                    <p class="text-white text-xs xl:text-gray-50">ورود / ثبت نام</p>
                </div>
                <div class="py-1 px-4 border rounded-3xl flex items-center lg:block">
                    <img src="/src/image/sun.svg" alt="dark/light" class="w-6 lg:w-auto" />
                </div>
            </div>
            <div class="hidden lg:block lg:w-full py-4">
                <ul class="text-sm flex flex-wrap lg:justify-start lg:w-full gap-6  md:text-[16px]">
                    <li
                        class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300 flex items-center gap-2">
                        معاملات
                        <img src="/src/image/arrow.png" class="w-4" calt="">
                    </li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">آموزش</li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">فرصت‌های سرمایه‌گذاری
                    </li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">قوانین</li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">اخبار</li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">تماس با ما</li>
                    <li class="cursor-pointer border-gray border-opacity-20 hover:text-gray-300">درباره ما</li>
                </ul>
            </div>
        </div>

        <!-- نوبار سمت راست -->
        <div class="fixed top-0 right-0 h-full w-64 bg-base text-white shadow-lg transform sidebar md:hidden"
            :class="open ? 'translate-x-0' : 'translate-x-full'" x-show="open"
            x-transition:enter="transition ease-out duration-300" x-transition:enter-start="translate-x-full"
            x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full">
            <div class="p-4 flex justify-between items-center">
                <h2 class="text-lg font-bold">منو</h2>
                <button @click="open = false" class="text-white text-xl">&times;</button>
            </div>
            <ul class="p-4 space-y-4 text-sm flex flex-col">
                <li
                    class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300 flex items-center gap-2">
                    معاملات
                    <img src="/src/image/arrow.png" class="w-4">

                </li>
                <li class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300">آموزش</li>
                <li class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300">فرصت‌های
                    سرمایه‌گذاری</li>
                <li class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300">قوانین</li>
                <li class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300">اخبار</li>
                <li class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300">تماس با ما
                </li>
                <li class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300">درباره ما
                </li>
                <li
                    class="cursor-pointer border-b border-gray pb-3 border-opacity-20 hover:text-gray-300 text-lg flex items-center gap-4">
                    <img src="/src/image/loginheader.svg" class="w-6" alt="">
                    <p class="text-white text-sm xl:text-gray-50">ورود / ثبت نام</p>
                </li>
            </ul>

        </div>
    </header>
    <div class="flex flex-col gap-10">
        <div class="">
            <img src="/src/image/herorpoject.png" alt="" class="">
        </div>
        <div class="px-4">
            <div class="md:gap-4 md:items-center md:mb-6 md:grid md:grid-cols-12">
                <div class="flex justify-around mb-6 gap-4 md:m-0 md:col-span-6">
                    <input type="text" class="py-2 rounded-lg h-11 w-full text-sm px-4" placeholder="جستجو کنید ...">
                    <button
                        class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-xs px-2 col-span-1 gap-2 lg:text-sm flex items-center flex-shrink-0">
                        <span>
                            <img src="/public/images/location.svg" alt="">
                        </span>
                        شهر خود را انتخاب کنید
                    </button>
                </div>
                <div class="flex flex-col md:flex-row md:items-center px-4 md:p-0 md:col-span-6 md:gap-2">
                    <div class="flex gap-3 mb-2 text-sm md:gap-0 md:m-0">
                        <img src="/public/images/sort.svg" class="flex flex-col justify-self-start" alt="">
                        <p class="flex flex-shrink-0">مرتب سازی:&nbsp;</p>
                    </div>
                    <div class="mb-6 md:m-0 lg:justify-between w-full md:pr-6 lg:p-0">
                        <ul class="flex gap-4 lg:items-center text-sm lg:text-lg lg:justify-between lg:px-8">
                            <li class="text-blue-100 font-bold">قیمت</li>
                            <li class="">بازدید</li>
                            <li class="">دارای ظرفیت</li>
                            <li class="">جدیدترین</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div
                class="hidden border border-blue-100 rounded-lg pb-4 mx-auto sm:w-3/4 md:max-w-96 lg:min-w-full lg:grid lg:grid-cols-12 lg:items-center lg:p-0">
                <div class="mb-4 lg:col-span-7 lg:mb-0">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5 lg:pr-16">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div>
                        <button
                            class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2 max-w-36 min-w-36">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2 max-w-36 min-w-36">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-4 flex flex-wrap gap-10 lg:grid lg:grid-cols-3">
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
            <div
                class="border border-blue-100 rounded-lg pb-4 mx-auto max-w-[400px] sm:max-w-96 flex-shrink-0 lg:col-span-1">
                <div class="mb-4 lg:col-span-7 ">
                    <img src="/src/image/project.svg" alt="" class="rounded-lg">
                </div>
                <div class="flex flex-col gap-6 px-4 lg:col-span-5">
                    <h2 class="text-xl font-bold ">مجتمع مسکونی پرنیا</h2>
                    <div class="text-xs flex flex-col gap-4">
                        <div class="flex items-center gap-8">
                            <p class="text-gray-200 text-lg">PRNI</p>
                            <p class="text-gray-200 text-lg">تهران _ منطقه1_ مسکونی</p>
                        </div>
                        <div class="flex gap-3">
                            <span class="flex items-center gap-2">
                                <img src="/public/images/calendar.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">تاریخ انتشار: 1403/12/12</p>
                            </span>
                            <span class="flex items-center gap-2">
                                <img src="/public/images/timer.svg" class="w-5" alt="">
                                <p class="text-xs text-gray">مدت اعتبار: 36 ماه</p>
                            </span>
                        </div>
                        <div class="">
                            <p class="text-xs">شروع سرمایه گذاری: 100,000 تومان</p>
                        </div>
                    </div>
                    <span class="">
                        <p>یک متن کوتاه و مختصر برای توضیح پروژه سرمایه گذاری</p>
                    </span>
                    <div class="flex gap-4 justify-end">
                        <button class="bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg h-11 text-sm px-2">شروع
                            سرمایه گذاری</button>
                        <button
                            class="border text-blue-100 border-blue-100 hover:bg-blue-700 py-2 rounded-lg h-11 text-sm px-2">مشاهده
                            جزئیات</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>